/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.mobile-title {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 1.1rem;
  line-height: 1.4;
}
@media (max-width: 400px) {
  .mobile-title {
    font-size: 1rem;
    padding-left: 4px;
    padding-right: 4px;
  }
}
